::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(200, 200, 200, 0.6);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}
/* Tag (A-Z) */
a.light {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	opacity: 0.9;
}
a.light:hover {
	opacity: 1;
}
footer {
	padding: 2px 32px;
	background: #004288;
	color: #fff;
	text-align: center;
}
header {
	padding: -16px -52px;
}
input {
	margin-bottom: 2%;
	padding: 10px;
	width: 95%;
	border: 1px solid #004288;
}
nav {
	margin-bottom: -16px;
	padding: 0 10%;
	background: #004288;
	color: #fff;
}
section {
	padding: 2% 10%;
}
section div h1 {
	font-size: 54px;
}
section div h2 {
	font-size: 28px;
}
section div p {
	text-align: justify;
}
/* Class (A-Z) */
.btn-inline {
	margin: 4% 0;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.card {
	display: block;
	margin: 4% auto;
	padding: 24px 46px 46px 46px;
	width: 45%;
	border-radius: 24px;
	border: 2.5px solid #004288;
}
.card form {
	margin: 0 auto;
}
.card form h2 {
	text-align: center;
}
.card-dark {
	margin: 4% 0;
	padding: 24px;
	background: #004288;
	color: #fff;
	border-radius: 24px;
}
.card-dark h2 {
	text-align: center;
}
.col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.hide {
	display: none;
}
.list-none {
	list-style: none;
}
.ml-12 {
	margin-left: 12px;
}
.mr-12 {
	margin-right: 12px;
}
.nav-menu {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.nav-menu ul {
	list-style-type: none;
	overflow: hidden;
}
.nav-menu li {
	display: inline;
}
.reset {
	background: #ff0022;
	color: #fff;
	border: none;
	width: 45%;
}
.row {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.submit {
	background: #004288;
	color: #fff;
	border: none;
	width: 45%;
}
/* ID (A-Z) */
#about {
	background: #004288;
	color: #fff;
}
#slider {
	overflow: hidden;
}
#slider div {
	margin: 16px 0;
	width: 300%;
	position: relative;
	animation: 9s slider infinite;
}
#slider div img {
	width: 33.3333333333%;
	height: 380px;
	float: left;
	object-fit: cover;
}
/* Keyframe (A-Z) */
@keyframes slider {
	0% {
		left: 0;
	}
	30% {
		left: 0;
	}
	33% {
		left: -100%;
	}
	63% {
		left: -100%;
	}
	66% {
		left: -200%;
	}
	95% {
		left: -200%;
	}
	100% {
		left: 0;
	}
}
